/* Banner Styles */
.banner {
  background: url('../images/banner.jpeg') no-repeat center center / cover; /* Ensures the image covers the entire banner */
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  height: 150px; /* Adjust height as needed */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}

.banner-bg {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay for better readability */
  padding: 20px;
  border-radius: 5px;
}

.banner h2 {
  color: #fff;
  font-size: 2rem; /* Responsive font size */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .banner h2 {
    font-size: 1.5rem;
  }
}